@import "./sass/myMaterialize.scss";
/**** Basics ****/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-top: 3rem;
}

/****** Home ******/

.select-wrapper{
    margin-top: 7px;
}

#recipes{
    .material-icons{
        vertical-align: bottom;
    }
}
h5{
    .material-icons{
        padding-left: 10px;
    }
}
/**** EDIT ****/


#title {
    margin-top: 0;
}
.rating-wrap{
    .material-icons{
        cursor: pointer;
        &:first-child{
            margin-right: 5px;
        }
    }
}

header p.nav {
    margin-bottom: 0;
}

#ingredients input {
    width: calc(100% - 75px);
}

#ingredients {
    padding-bottom: 2rem;
    position: relative;
    span {
        top: 10px;
    }
    .material-icons {
        cursor: pointer;
    }
}

#input-add-ingredient {
    width: calc(100% - 60px)
}

#add-form {
    padding-top: 2rem;
    .material-icons {
        cursor: pointer;
    }
}

/****** Boilerplaet *****/

footer {
    margin-top: 6rem;
}